:root :where(.is-layout-constrained) > * {
	margin-inline: auto;
}

:root :where(.is-layout-constrained) > * {
	margin-block-start: 1em;
}

:root :where(.is-layout-constrained) > :first-child {
	margin-block-start: 0;
}

.site-main {
	max-width: var(--layout-content);
	margin-inline: auto;
	padding: 0 2rem;

	@media (max-width: 1200px) {
		padding: 0 1.5rem;
	}

	@media (max-width: 600px) {
		padding: 0 1rem;
	}
}

.entry-content {

	&.entry-content--template {
		margin-block-end: 2em;
	}
}

.entry-content > p,
.entry-content > ul,
.entry-content > ol {
	max-width: var(--measure);
}

// Första blocket i innehållet ska inte få extra toppmarginal
// (rubriker har egna !important-värden).
.entry-content > :first-child {
	margin-block-start: 0 !important;
}
