.wp-block-media-text {
	.wp-block-media-text__content {
		padding-right: 0;
		padding-left: 2em;

		@media (max-width: 600px) {
			padding: 0;
		}
	}

	&.has-media-on-the-right {
		.wp-block-media-text__content {
			padding-right: 2em;
			padding-left: 0;
		}

		@media (max-width: 600px) {
			padding: 0;
		}
	}
}
